body{background-color: rgb(44, 85, 3);bottom: 0;padding: 0px;position: fixed;height: 80px;width: 100vw;margin: 0px;padding-left: 10px;}
.footer-left{float: left;}
.footer-right{float: right;;padding-right: 50px;}