<html>
    <head>
        <title>User component</title>
    </head>
    <body>
        
<br/><br/><br/><br/><br/><br/><br/><br/>
        <h3>{{errorMsg}}</h3> 
        <form>
            <div id="userData" >
               <br/>
                    <h2>Fill in the fields in order to register :</h2>
                    <p>Name: 
                    <input type="text" required="true" name="firstName" (focusout)="focusoutFunctionName($event)"></p>
                    <p class="error">{{errorMessageName}}</p>
                    <p>Surname: 
                    <input type="text" required="true" name="lastName" (focusout)="focusoutFunctionSurname($event)"></p>
                    <p class="error">{{errorMessageSurname}}</p>
                    <p>Phone Number:  
                    <input type="text" required="true" name="phoneNumber" (focusout)="focusoutFunctionPhoneNumber($event)"></p>
                    <p class="error">{{errorMessagePhoneNumber}}</p>
                    <p>Date of birth:  
                    <input type="date" required="true" name="dateOfBirth" (focusout)="focusoutFunctionBirthDate($event)"></p>
                    <p> Address:
                    <input type="text" required="true" name="address"></p>    
                    <p>E-mail: 
                    <input type="email" required="true" name="email" ></p>
                    <p class="error">{{errorMessageEmail}}</p>
                    <p>User Name:  
                    <input type="text" required="true" name="userName" ></p>
                    <p class="error">{{errorMessageUserName}}</p>
                    <p>Password:  
                    <input type="password" required="true" name="password" (focusout)="focusoutFunctionPassword($event)"></p>
                    <p class="error">{{errorMessagePasswordLength}}</p>
                  
                    <button  name="register" (click)="register()">Register</button>
          </div>
        </form>
 
    </body>
</html>
