
<html>
    <body>
    
    <form>
        
<br/><br/><br/><br/><br/><br/><br/><br/>
        <div id="userData" >
           <br/>
                <h2>Fill in the fields in order to Log In :</h2>
                <p>User Name:  
                    <input type="text" required="true" name="userName" (focusout)="focusoutFunctionUserName($event)"></p>
                    <p class="error">{{errorMessageUserName}}</p>
                    <p>Password:  
                    <input type="password" required="true" name="password" (focusout)="focusoutFunctionPassword($event)"></p>
                    <p class="error">{{errorMessagePasswordLength}}</p>
                <button  name="login" (click)="login()">Log In</button>
            </div>    
              
    </form>

  
    </body>
</html>